# general
GENERAL_PORT=8048
GENERAL_PROXY=proxy
ENVIRONMENT=prod

# admin
ADMIN_API_URL=admin_api_url
ADMIN_API_TOKEN=admin-api-token

# vk
VK_API_KEY=vk_api_key
VK_BOT_KEYWORDS=["карл"]

# openai
OPENAI_API_KEY=api_key
OPENAI_ASSISTANT_ID=assistant_id

# n8n
N8N_URL=https://n8n.com