# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3
.Python
env
venv
.venv
ENV
env/
venv/
ENV/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.DS_Store

# Logs and databases
*.log

# Environment variables
.env